
.table{
    border: 1px solid black;
}
.ul-view{
    display: flex;
    list-style-type: none;
}
.left-menu{
    width: 200px;
    /*border: 1px solid black;*/
}
.content-view{
    width: 100%;
    border: 1px solid blue;
}
ul >li{
    padding-left: 20px;
}
.right-content >  td{
    border: 1px solid black;
}
