<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>Controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByVin</servlet-name>
        <servlet-class>Controller.SortByVin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByToyota</servlet-name>
        <servlet-class>Controller.SortByToyota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByMercedes</servlet-name>
        <servlet-class>Controller.SortByMercedes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortByMitsubishi</servlet-name>
        <servlet-class>Controller.SortByMitsubishi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortPrice0to100</servlet-name>
        <servlet-class>Controller.SortPrice0to100</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortPrice100to200</servlet-name>
        <servlet-class>Controller.SortPrice100to200</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortPriceOver200</servlet-name>
        <servlet-class>Controller.SortPriceOver200</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginError</servlet-name>
        <servlet-class>Controller.LoginError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByVin</servlet-name>
        <url-pattern>/SortByVin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByToyota</servlet-name>
        <url-pattern>/SortByToyota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByMercedes</servlet-name>
        <url-pattern>/SortByMercedes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortByMitsubishi</servlet-name>
        <url-pattern>/SortByMitsubishi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortPrice0to100</servlet-name>
        <url-pattern>/SortPrice1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortPrice100to200</servlet-name>
        <url-pattern>/SortPrice2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortPriceOver200</servlet-name>
        <url-pattern>/SortPrice3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginError</servlet-name>
        <url-pattern>/LoginError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
